.root {
   
}

.menu-item > .accelerator-text {
    -fx-padding: 0 0 0 30px;
}
.menu { 
    -fx-padding: 1 5 1 5; 
}
.menu .context-menu { 
    -fx-padding: 1 1 1 1; 
}
.menu-item >.label {
    -fx-font-size:13;
}
.menu >.label {
    -fx-font-size:13;
}
.menu-bar {
  -fx-padding: 0 1 0 1;
  -fx-spacing: 1;
}

#drawButton {          
    -fx-background-image: url("../icons/pencil.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
}
#lineButton {          
    -fx-background-image: url("../icons/line.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
}
#fillButton {          
    -fx-background-image: url("../icons/fill.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
}
#eraserButton {          
    -fx-background-image: url("../icons/eraser.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
}
#rectButton {          
    -fx-background-image: url("../icons/rectangle.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
}
#squareButton {          
    -fx-background-image: url("../icons/square.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
}
#ovalButton {          
    -fx-background-image: url("../icons/ellipse.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
}
#circleButton {          
    -fx-background-image: url("../icons/circle.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
}
#triangleButton {          
    -fx-background-image: url("../icons/triangle.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
}
#polygonButton {          
    -fx-background-image: url("../icons/polygon.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
}
#starButton {          
    -fx-background-image: url("../icons/star.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
}
#textButton {          
    -fx-background-image: url("../icons/text.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
}
#zoomInButton {          
    -fx-background-image: url("../icons/zoomIn.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
}
#zoomOutButton {          
    -fx-background-image: url("../icons/zoomOut.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
}
#undoButton {          
    -fx-background-image: url("../icons/undo.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
}
#redoButton {          
    -fx-background-image: url("../icons/redo.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
}
#eyedropperButton {          
    -fx-background-image: url("../icons/eyedropper.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
}
#selectionRectangle {          
    -fx-background-image: url("../icons/select.png");
    -fx-background-size: 32 32;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
}
#swapColors {          
    -fx-background-image: url("../icons/swap.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
}
#autoSaveLabel {          
    -fx-padding: 0 20 0 0;   
}
#toolStatus {          
    -fx-padding: 0 0 0 20;  

}


